@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --fs-s: 14px;
    --fs-sm: 13px;
    --fs-md: 24px;
    --fs-lg: 30px;
    --fs-xl: 40px;
    /*--- font clr ----------  */
    --fc-white: #FFFFFF;
    --fc-navbg: #12121299;
    --fc-black: #111111;
    --fc-green: #BAFF00;
    --fc-darkgreen: #0C0C0C;
    --fc-borderclr: #3A3B3B;
    --fc-offwhite: #A4A89F;
    --fc-lightgreen: #5C7C09;
    --fc-mailborder: #3A3D35;
    --fc-mailbg: #1C2310;
}

.custom-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* ======================== font clr =========================== */
.clr-white {
    color: var(--fc-white);
}

.nav-bg-clr {
    background: var(--fc-navbg);
}

.clr-black {
    color: var(--fc-black);
}

.clr-green {
    color: var(--fc-green);
}

.clr-offwhite {
    color: var(--fc-offwhite);
}

/* ============== font size ============================== */
.text-14 {
    font-size: var(--fs-s);
}

.text-16 {
    font-size: var(--fs-sm);
}

.text-24 {
    font-size: var(--fs-md);
}

.text-48 {
    font-size: var(--fs-lg);
}

.text-64 {
    font-size: var(--fs-xl);
}

/* ============================ line height ========================= */
.lh-24 {
    line-height: 24px;
}

.lh-61 {
    line-height: 41.76px;
}

.lh-52 {
    line-height: 52.8px;
}

.lh-26 {
    line-height: 26.4px;
}

.lh-57 {
    line-height: 40.6px;
}

.lh-33 {
    line-height: 33.6px;
}

.lh-21 {
    line-height: 21px;
}

/* ========================= font weight ================================ */
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.ff-outfit {
    font-family: 'Outfit', sans-serif;
}

/* =============================== header =========================== */
.bg-hero-img {
    background-image: url(../images/png/bg-img-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-body-clr {
    background: var(--fc-darkgreen);
}

.gap-32 {
    gap: 32px;
}

.gap-lg-40 {
    gap: 40px;
}

.h-90 {
    height: 90px;
}

.max-w-582 {
    max-width: 582.7px;
}

.dis-btn {
    padding: 14px 28px;
    background: var(--fc-green);
    border: 2px solid transparent;
    border-radius: 100px;
}

.flex-grow {
    flex-grow: 1 !important;
}

.pt-lg-23 {
    padding-top: 23px;
}

.pb-lg-32 {
    padding-bottom: 32px;
}

/* ======================================= 1K+ ============================================ */
.bg-sec-clr {
    background: var(--fc-darkgreen);
}

.outer-box {
    max-width: 1036px;
    width: 100%;
    background-image: url(../images/png/1k-sec-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--fc-borderclr);
    border-radius: 24px;
    /* min-height: ; */
    padding: 36px 40px 35px 40px;
}

.linear-gradient {
    /* width: 1440px; */
    width: 100%;
    height: 126px;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.44) 25.4%, rgba(17, 17, 16, 0.29) 25.4%, #0C0C0C 70.63%);

}

.pt-lg-31 {
    padding-top: 31px;
}

.pb-30 {
    padding-bottom: 30px;
}

.ellipse-sec-2 {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
    filter: blur(5px);
}

/* ====================================== data is safe ============================================= */

.pt-13 {
    padding-top: 13px;
}

.py-lg-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.data-linear-gradient {
    width: 100%;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.44) 25.4%, rgba(17, 17, 16, 0) 25.4%, #0C0C0C 70.63%);
    height: 104px;
    bottom: -23px;
    filter: blur(24px);
}

.data-ellipse-1 {
    right: 0;
    bottom: -51%;
    z-index: -1;
}

.data-ellipse-2 {
    left: 50%;
    bottom: -51%;
    z-index: -1;
}

/* ================================= our-services ======================================== */
.services-bg-img {
    background-image: url(../images/png/services-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w-328 {
    max-width: 328px;
}

.service-card {
    background: url(../images/png/service-card-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    min-height: 318px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--fc-borderclr);
    border-radius: 16px;
}

.cursor-pointer {
    cursor: pointer;
}

.services-linear-gradient {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.44) 25.4%, rgba(17, 17, 16, 0) 25.4%, #0C0C0C 70.63%);
    width: 100%;
    height: 104px;
    bottom: -31px;
    z-index: -1;
    /* filter: blur(25px); */
}

/* ================================== further services ========================================== */
.bg-img {
    background-image: url(../images/png/further-services-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-ellipse-1 {
    position: absolute;
    top: 50%;
    left: 50%;
}

.left_line::after {
    content: "";
    width: 1px;
    background: var(--fc-green);
    position: absolute;
    height: 100%;
    top: 2px;
    left: 4px;
}

.max-w-725 {
    max-width: 725px;
}

.max-w-476 {
    max-width: 476.36px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ============================= get into touch ====================================================== */
.mail_style {
    border: none;
    outline: none;
    /* background-color: var(--fc-darkgreen); */
    background: none;
}

.sign-btn {
    padding: 14px 28px;
    border-radius: 100px;
    background: var(--fc-green);
    border: 2px solid transparent;
}

.max-w-518 {
    max-width: 518px;
}

.mail_box {
    border-radius: 48px;
    max-width: 518px;
    width: 100%;
    border: 1px solid var(--fc-lightgreen);
    min-height: 56px;
    padding: 2px 2px 2px 16px;
    background: var(--fc-mailbg);
    opacity: 0.6;
}

.get-box {
    max-width: 1140px;
    min-height: 332px;
    height: 100%;
    border: 1px solid var(--fc-mailborder);
    border-radius: 24px;
    background-image: url(../images/png/mail-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}
.pb-lg-32{
    padding-bottom: 32px;
}
.get-ellipse{
    top: 0px;
    left: 10%;
    z-index: -1;
}
.infra-ellipse{
    position: absolute;
    left: 0;
    top: 10%;
}
/* ========================================== footer =================================================== */
.max-w-373{
    max-width: 373px;
}
.footer-bg-img{
    background-image: url(../images/png/footer-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.max-w-235{
    max-width: 235px;
}
.mb-lg-18{
    margin-bottom: 18px;
}
.mb-10{
    margin-bottom: 10px;
}
.svg-box{
    width: 28px;
    height: 28px;
    border-radius: 50%;
   background: linear-gradient(97.95deg, rgba(186, 255, 0, 0.1) 3.73%, rgba(0, 178, 254, 0.1) 113.03%);
  
}
.gap-10{
    gap: 10px;
}
.pt-lg-48{
    padding-top: 48px;
}
.bottom_line::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--fc-white);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    transition: all 200ms linear;
}

.bottom_line:hover::after {
    width: 100%;
}
.border_bottom{
    border-bottom: 0.5px solid var(--fc-borderclr);
}
.pt_30{
    padding-top: 30px;
}
/* ======================================= offensive security ================================== */
.max-w-527{
    max-width: 527px;
}
.mt-lg-150{
    margin-top: 150px;
}
/* .max-w-581{
    max-width: 581px;
} */

@media (max-width:992px) {

    .overFlowHidden {
        overflow: hidden !important;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* top: 31px; */
        right: 12px;
        /* position: fixed; */
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-white);
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    /* .menuIcon.show>span {
        top: -10px !important;
        position: relative !important;
    } */

    .menulist {
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: var(--fc-darkgreen);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 3;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(56deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: 8px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(129deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: -18px;
    }
}

@media (min-width:576px) {
    :root {
        --fs-xl: 64px;
        --fs-lg: 48px;
        --fs-sm: 16px;
    }

    .lh-61 {
        line-height: 61.76px;
    }

    .lh-57 {
        line-height: 57.6px;
    }
}

@media (min-width:768px) {
    .outer-box {
        max-width: 1036px;
        width: 100%;
        background-image: url(../images/png/1k-sec-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid var(--fc-borderclr);
        border-radius: 24px;
        /* min-height: ; */
        padding: 36px 75px 35px 40px;
    }

    .max-w-628 {
        max-width: 628px;
    }
}

@media (min-width:992px) {
    .max-w-513 {
        max-width: 513px;
    }

    .green-line::after {
        content: "";
        width: 1px;
        background: var(--fc-green);
        position: absolute;
        height: 264px;
        top: 8px;
        left: -15px;
    }

    .max-w-527 {
        max-width: 527px;
    }

    .max-w-511 {
        max-width: 511px;
    }

    .max-w-507 {
        max-width: 507px;
    }

    .pb-lg-90 {
        padding-bottom: 90px;
    }

    .pt-lg-40 {
        padding-top: 40px;
    }

    .pt-30 {
        padding-top: 30px;
    }

    .pb-lg-43 {
        padding-bottom: 43px;
    }

    .max-w-513 {
        max-width: 513px;
    }

    .max-w-519 {
        max-width: 519px;
    }

    .max-w-520 {
        max-width: 520px;
    }

    .pb-lg-60 {
        padding-bottom: 60px;
    }

    .my-lg-79 {
        margin-top: 79px;
        margin-bottom: 79px;
    }
    .pt-lg-171{
        padding-top: 171px;
    }
    .pb-lg-140{
        padding-bottom: 140px;
    }
    .pt-lg-65{
        padding-top: 65px;
    }
}